html {
  font-family: 'Fredoka One', sans-serif;
  background: repeating-linear-gradient(
    -45deg,
    #c9fcff,
    #c9fcff 10px,
    #d4fdff 10px,
    #d4fdff 20px
    );
}

header {
  height: auto;
  border-top: solid 8px #b3fbff;
  border-bottom: solid 8px #b3fbff;
  height: 600px;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
}

.btn {
  border-color: #990073;
}

span {
  color: #c09;
}

img {
  position: absolute;
}

.cherry {
  width: 200px;
  bottom: 440px;
  right: 50px;
}

.vanilla {
  width: 200px;
  bottom: 350px;
  right: 50px;
}

.chocolate{
  width: 200px;
  top: 130px;
  right: 40px;
}

.mint {
  width: 200px;
  top: 225px;
  right: 50px;
}

.cone {
  width: 200px;
  top: 343px;
  right: 50px;
}
