html {
  font-family: "Fredoka One", sans-serif;
}

header {
  background: repeating-linear-gradient(-35deg, #c9fcff, #c9fcff 12px, #d4fdff 12px, #d4fdff 24px);
  border-top: solid 8px #b3fbff;
  border-bottom: solid 8px #b3fbff;
  height: 500px;
}

.text {
  animation: flip-out .5s linear forwards;
  bottom: 100%;
}

@keyframes flip-out {

  0% {
    opacity: 0;
    top: 100px;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
  text-shadow: 2px 2px #b3fbff;
}

p {
  color: #c09;
  max-width: 19em;
  transform: rotate(-5deg);
  transform-origin: left center;
}

.btn {
  border-color: #990073;
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #c09;
}

span {
  color: #c09;
}

img {
  position: absolute;
}

.cherry {
  width: 180px;
  bottom: 100%;
  right: 120px;
  animation: cherry-drop .5s 1.5s ease-in-out forwards;
}

@keyframes cherry-drop {

  0% {
    top: -150px;
  }

  100% {
    top: -30px;
  }

}

.vanilla {
  width: 180px;
  bottom: 100%;
  right: 120px;
  animation: vanilla-drop .5s 1.2s linear forwards;
}

@keyframes vanilla-drop {

  0% {
    top: -150px;
  }

  100% {
    top: 50px;
  }

}

.chocolate {
  width: 180px;
  bottom: 100%;
  right: 115px;
  animation: chocolate-drop .5s .9s linear forwards;
}

@keyframes chocolate-drop {

  0% {
    top: -150px;
  }

  100% {
    top: 125px;
  }

}

.mint {
  width: 180px;
  bottom: 100%;
  right: 120px;
  animation: mint-drop .5s .5s linear forwards;
}

@keyframes mint-drop {

  0% {
    top: -150px;
  }

  100% {
    top: 190px;
  }

}

.cone {
  width: 180px;
  bottom: 100%;
  right: 120px;
  animation: cone-drop .5s linear forwards;
}

@keyframes cone-drop {

  0% {
    top: -150px;
  }

  100% {
    top: 295px;
  }

}
